---
import { Image } from "astro:assets";
import PageLayout from "@/layouts/PageLayout.astro";
import { SITE_TITLE } from "@/consts";
import notFoundImage from "@/assets/404.png";
---

<PageLayout
  title={`404 | ${SITE_TITLE}`}
  description="Page not found"
  image={notFoundImage}
  size="default"
  class="text-center"
>
  <Image src={notFoundImage} alt="Page not found" class="mx-auto mb-8" />
  <h1 class="text-7xl m-0">
    These are not the droids that you're looking for...
  </h1>
  <p class="text-gray">
    The content that you're looking for, never existed or has suddenly
    disappeared.
  </p>
</PageLayout>
