---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const total = posts.length;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="max-w-[720px] mx-auto px-4 py-12">
      <ul class="list-none m-0 p-0 my-8">
        {
          posts.map((post, index) => (
            <li class="mb-2">
              <span class="text-gray mr-2">{total - index}.</span>
              <a
                href={`/blog/${post.id}/`}
                class="no-underline text-black hover:text-accent"
              >
                {post.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
